body{
margin: 0;
}
.contact{
  width: 100vw;
  height: 100vh;
background-image: url(img/contact.jpg);
background-repeat: no-repeat;
background-size: cover;
justify-content: center;
}
.opacity{
  background: rgba(230, 230, 230, 0.7);

}
