.section:target{
    padding-top: 56px;
}
.contact{
    background-image: url(img/dogphone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    }
.opacity{
    width:70%;
    height:70%;
    background: rgba(230, 230, 230, 0.7);
    margin-left: 50%;
    transform: translate(-50%, 20vh);
}

@media(max-width:768px){
    .opacity{
        transform: translate(-50%, 0);
    }
}
